
run = "python main.py"
language = "python3"
entrypoint = "main.py"

[nix]
channel = "stable-22_11"

[deployment]
run = ["python", "main.py"]
deploymentTarget = "cloudrun"
build = ["pip install -r requirements.txt"]

[env]
PYTHONPATH = "${PYTHONPATH}:${REPL_HOME}/src"

[unitTest]
language = "python3"
