flask==3.1.1
psutil==7.0.0
pytest==8.3.5
logging==0.5.1.2
socketio==0.2.1
flask-socketio==5.5.1
typing==3.7.4.3
datetime==5.5
pyyaml==6.0.1
requests==2.32.3
grpcio
grpcio-tools
zipp>=3.19.1 # not directly required, pinned by Snyk to avoid a vulnerability
